@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #EEF2FF;
}

.container{
  display: flex;
  height: 100vh;
  width: 100vmax;
}

.menu{
  flex-grow: 0;     /* do not grow   - initial value: 0 */
  flex-shrink: 0;   /* do not shrink - initial value: 1 */
  flex-basis: 20em; /* width/height  - initial value: auto */
  position: relative;
  position: fixed;
}

.content {
  flex: 2;
  margin-left: 270px;
}

.inner-content{
  display: flex;
  margin: 2rem 1rem 1rem 1rem;
}